/* fonts secton  */


.inter-red {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  
.montserrat-new {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  /* font weight 100-800 */


*{
    padding: 0px;
    margin: 0px;

}
/* ------ tag  section */
h2{
color: white;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
letter-spacing: 7px;
}
h3{
    color: rgb(212, 219, 93);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
h4{
    color: rgb(212, 214, 229);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 15px 0px ;
}
p{
    color: rgb(235, 226, 226);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    padding: 10px;
}
em{
    color: white;
    margin-left: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    
    
    
}
span{
    border-left: 1px dashed rgb(12, 227, 26);
    margin-left: 10px;
    padding-left: 14px;
    display: block;
}
i{
    color: rgb(82, 94, 223);
    margin: 9px ;
}
b{
    color: aqua;
}
hr{
    margin:  10px 4px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}



/*--------------------------------- main div  */
.main-div{
    display: flex;
    flex-direction: row;
   border: 13px solid aqua;
   padding: 7px;

}
/*---------- this innner div -------- */
.resume-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 54, 54);
    width: 40%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    
}
.skill-div{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;
    margin-top: 20px;
    overflow: hidden;

    
}
/* skill section  style  */
.skill-title{
    background-color: rgba(25, 23, 23, 0.785);
    width: 23%;
    padding: 12px;
    margin: 15px;
}
.skill-content{
    background-color: azure;
    margin:8px;
}
.bar{
    height: 20%;
    width: 70%;
    background-color: rgba(2, 3, 3, 0.473);
    margin-left:55px ;
    margin-top: 12px;
    color: black;
    border-radius: 7px;
}

/* --------------------p section  */
.p-extented{
    border-left: 1px dashed white;
    margin-left: 10px;
    padding-left: 14px;
}